# PayPal Sandbox
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_BASE_URL=https://api-m.sandbox.paypal.com
PAYPAL_RETURN_URL=http://localhost:5173/
PAYPAL_CANCEL_URL=http://localhost:5173/

# AI provider
AI_API_KEY=

# Server
PORT=3001
